h2{
color:rgb(30, 255, 0); /* cor dos elementos que são h2*/
font-size: 15px; /*fonte dos elementos que são h2*/
text-align: center; /* centralização dos elementos em h2*/
/*border-bottom:10px solid black;8=*/
}
body{
    background-color:rgb(26,26,26);
}
p{
    color:rgb(255,255,255);
    text-align: justify;
    font-style: initial;
    border: 1px;
    padding: 1px;
}

.container {
    display: flex;
    justify-content: center; /* centralizando a imagem quant-ux com link*/
}

.imagem-centralizada img {
    display: block; /* Transforma a imagem em um bloco */
    margin: 0 auto; /* Define margens automáticas para centralizar horizontalmente */
 }
input{
    color:rgb(0, 0, 0);
    font-size: initial;
}
input[type="text"],
textarea {
    color: rgb(0, 0, 0);
}

input[type="text"]::placeholder,
textarea::placeholder {
    color: rgb(0, 0, 0);
}
 div {
    text-align: center;
    color: rgb(255, 255, 255); /* Cor branca */
    border: 2px solid rgb(255, 255, 30); /* Cor amarela */
    margin: 1px;
    padding: 1px;
 }


